@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat&display=swap');

*{margin: 0%;padding: 0%;box-sizing: border-box;}

.geme-contenar
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(160deg,rgb(144, 102, 223),rgb(94, 79, 226));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.geme-contenar .titel
{
    font-size: 2rem;
    padding: 10px 20px;
    background-color: brown;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
}
.game-content
{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
}

.game-content .item 
{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.item .inner-item 
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s;
}

.item .inner-item .front-side,
.item .inner-item .back-side
{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.item .inner-item .front-side
{
    background-color: rgb(255, 255, 255);
}

.item .inner-item .back-side
{
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over 
{
    height: 0vh;
    width: 100vw;
    visibility: hidden;
    position: absolute;
    top: 0%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .8s;
}

.game-over img 
{
    width: 300px;
}

.game-over .tagline
{
    font-size: 3rem;
    color: rgb(225, 255, 52);
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    text-transform: uppercase;
    font-family: 'Croissant One', cursive;
}

.game-over #closeButton
{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.isWin
{
    font-size: 2rem;
    color: rgb(225, 255, 52);
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    text-transform: capitalize;
    font-family: 'Croissant One', cursive;   
}

.titel
{
    font-size: 2rem;
    color: rgb(225, 255, 52);
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    text-transform: capitalize;
    font-family: 'Croissant One', cursive;  
}